name: tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  tag:
    uses: amezin/js-actions-common/.github/workflows/shared-tags.yml@933656d56f84eb22c3bdf9d092f793dc7d5c5daa # v2.0.1
    permissions:
      contents: write
