name: tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  tag:
    uses: amezin/js-actions-common/.github/workflows/shared-tags.yml@961ae80497f79f886278f1d47b1d4bf70963b941 # v2.0.2
    permissions:
      contents: write
