name: tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  tag:
    uses: amezin/js-actions-common/.github/workflows/shared-tags.yml@6e9d841c3ea1f175bfa67d68b2c9f60f5c4f4be3 # v3.0.2
    permissions:
      contents: write
