name: tags

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  tag:
    uses: amezin/js-actions-common/.github/workflows/shared-tags.yml@f41ef584a55c4b52a294a78c8e48f35e015e4b1a # v2.0.0
    permissions:
      contents: write
